{% extends "base.html.twig" %}

{% block body %}
    <h1>Pasword Generator</h1>

    <footer>
        <p>
            Built with love by 
            <a href="">aurel</a>
        </p>
    </footer>
{% endblock %}